hostname: harbor.local

http:
  port: 8080

https:
  port: 8443
  certificate: /etc/harbor/ssl/harbor.local.crt
  private_key: /etc/harbor/ssl/harbor.local.key

harbor_admin_password: Harbor12345

database:
  password: root123

data_volume: ./data

trivy:
  ignore_unfixed: false
  skip_update: true
  offline_scan: true

jobservice:
  # Maximum number of job workers in job service
  max_job_workers: 10
  # The jobLoggers backend name, only support "STD_OUTPUT", "FILE" and/or "DB"
  job_loggers:
    - STD_OUTPUT
    - FILE
    # - DB
  # The jobLogger sweeper duration (ignored if `jobLogger` is `stdout`)
  logger_sweeper_duration: 1 #days

notification:
  webhook_job_max_retry: 3
  webhook_job_http_client_timeout: 3 #seconds

log:
  level: info
  local:
    rotate_count: 50
    rotate_size: 200M
    location: /var/log/harbor
